<div class="container-fluid">
  <h1 class="alert alert-primary text-center">This is App Component</h1>

  <button (click) = "toggle()">Toggle: {{show}}</button>
  <input type = "text" [(ngModel)] = "username" />
<div *ngIf = "show">
  <app-life-cycle [username] = "username"></app-life-cycle>
</div>

<!-- 
  <app-parent3></app-parent3> -->

  <!-- <app-parent-two /> -->


  <!-- <app-parent></app-parent> -->
<!-- 
  <button class="btn btn-primary">Small Button</button> <br /><br />
  
  <br /> <br />
  <div class="container w-50">
    <h2 class="alert alert-primary text-center w-50">Simple Form</h2>
    <h3>Enter Name:</h3>
    <input type = "text" class = "form-control form-control-lg w-50" />
    <h3>Enter Password:</h3>
    <input type = "text" class = "form-control form-control-lg w-50" />
    <br />
    <button class="btn btn-primary btn-lg w-50">Login</button>
  </div>

  <div class="w-25">
    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
    <input class="form-control" type="text" placeholder="Default input">
    <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
  </div> -->

  <!-- <h2>
    Example on custom directive
  </h2>
  <div>
    <button appToggle>Button</button>
    <video appToggle width="400" height="400">
      <source src = "https://www.angulartraining.com/Cybertruck.mp4" />
    </video>
  </div> -->

  <!-- <app-pure-and-impure></app-pure-and-impure> -->
  <!-- <app-for-demo></app-for-demo> -->
  <!-- <app-structural-directive></app-structural-directive> -->
  <!-- <app-test-component></app-test-component> -->
  <!-- <app-demo></app-demo> -->
   <!-- <app-test2></app-test2> -->
</div>